@import "./variables.scss";
:root{
  --original-color:#531dab;
  --original-background: #f9f0ff;
  --original-border-color: #d3adf7;
}

html[data-theme="light"]{
  --original-color:#531dab;
  --original-background: #f9f0ff;
  --original-border-color: #d3adf7;
}

html[data-theme="dark"]{
  --original-color:#FF8000;
  --original-background: #531dab;
  --original-border-color: #2db7f5;
}

.nl-original-wrap {
  display:inline-block;
  box-sizing: border-box;
  padding: 0 0.25em;
  font-weight: bold;
  font-size: 0.75rem !important;
  border: 1px solid #d9d9d9;
  border-radius: 0.25em;
  transition: all 0.3s;
  cursor:pointer;
}

.nl-original {
  color: var(--original-color,$original-color);
  background: var(--original-background,$original-background);
  border-color: var(--original-border-color,$original-border-color);
}